/secrets
/volumes

*.retry
.ansible/
                                                                                                                                                                                                                                 
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
.env
.venv/
venv/

node_modules/
npm-debug.log
                                                                                                                                                                                                                                   
*.log
logs/

appunti.txt