global:
  scrape_interval: {{ prometheus_scrape_interval | default(monitoring_prometheus_scrape_interval) }}

scrape_configs:
  - job_name: 'prometheus'
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'backend'
    static_configs:
      - targets: ['app:8000']
    metrics_path: /metrics

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
    metrics_path: /metrics

  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:9093']
    metrics_path: /alertmanager/metrics

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
    metrics_path: /grafana/metrics

  - job_name: 'nginx'
    static_configs:
      - targets: ['nginx-exporter:9113']
    metrics_path: /metrics

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres-exporter:9187']
    metrics_path: /metrics

  - job_name: 'fluent-bit'
    static_configs:
      - targets: ['fluent-bit:2020']
    metrics_path: /api/v1/metrics/prometheus

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
    metrics_path: /metrics

rule_files:
  - /etc/prometheus/alerts.yml

alerting:
  alertmanagers:
    - path_prefix: /alertmanager
      static_configs:
        - targets:
            - 'alertmanager:9093'
