global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'backend'
    static_configs:
      - targets: ['app:8000']
    metrics_path: /metrics

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
    metrics_path: /metrics

  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:9093']
    metrics_path: /alertmanager/metrics

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
    metrics_path: /grafana/metrics
  
  - job_name: 'nginx'
    static_configs:
      - targets: ['nginx-exporter:9113']
    metrics_path: /metrics

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres-exporter:9187']
    metrics_path: /metrics

rule_files:
  - /etc/prometheus/alerts.yml

alerting:
  alertmanagers:
    - path_prefix: /alertmanager
      static_configs:
        - targets:
            - 'alertmanager:9093'