---
# Docker role handlers

- name: Restart Docker
  ansible.builtin.systemd:
    name: docker
    state: "{{ docker_restart_handler_state }}"
    daemon_reload: true
  become: true

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
